@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Semibold.ttf');
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    color: #111;  
}

a {
    color: #111;
}

.header {
    display: flex;
    width: 940px;
    height: 80px;
    align-items: center;
    margin: 0 auto;
}

.header-link {
    font-family: "OpenSans", Arial, sans-serif;
    text-decoration: none;
    margin-left: 20px;
    font-size: 13px;
}

.logo {
    font-family: "Tangerine", Arial, sans-serif;
    font-size: 36px;
    text-decoration: none;
    margin-right: 80px;
}

.btn {
    font-family: "OpenSans", Arial, sans-serif;
    padding: 5px 15px;
    background: #fff;
    color: #111;
    border: 2px solid #111;
}

.btn:hover {
    background: #111;
    color: #fff;
    text-decoration: none;
}

.section {
    width: 940px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.grid {
    display: flex;
}
.col {
    margin-right: 20px;
}
.col:last-child {
    margin-right: 0;
}
.col1 {
    width: 60px;
}
.col2 {
    width: 140px;
}
.col3 {
    width: 220px;
}
.col4 {
    width: 300px;
}
.col5 {
    width: 380px;
}
.col6 {
    width: 460px;
}
.col7 {
    width: 540px;
}
.col8 {
    width: 620px;
}

.photos {
    position: relative;
}

.photo {
    width: 220px;
    height: 220px;
    background: gray;
    margin-right: 20px;
}

.photo img {
    width: 220px;
    height: 220px;
    margin: 0;
    padding: 0;
}

.photo:last-child {
    margin-right: 0;
}

.splash {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ddd;
    height: 400px;
    margin-bottom: 40px;
}

.splash-content {
    background: rgba(255, 255, 255, .9);
    padding: 40px;
    width: 400px;
}

h2 {
    font-family: 'Asar', georgia;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'Asar', georgia;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    padding: 0;  
}

h4 {
    font-family: 'OpenSans';
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
}

p {
    font-family: 'Asar', georgia;
    font-size: 14px;
    line-height: 20px;
}

.column {
    padding-right: 20px;
}

footer {
    align-items: center;
    height: 80px;
    font-size: 12px;
    font-family: "OpenSans", Arial, sans-serif;
}

.footer-link {
    text-decoration: none;
}

.selected-link::before {
    content: "*";
    color: #edd216;
}

.selected-link::after {
    content: "*";
    color: #edd216;
}

input, textarea {
    font-family: "OpenSans", Arial, sans-serif;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #111;
    font-style: normal;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #111;
    font-style: normal;
}

*:focus {
    outline: none;
}

.inpt-stretch {
    width: 100%;
}

.inpt-long {
    width: 460px;
}

.inpt-short {
    width: 220px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.inpt-short:last-child {
    margin-right: 0;
}

.flex {
    display: flex;
}

.flt-right {
    margin-left: auto;
}

.btn-lg {
    padding: 10px 40px;
}

.divider {
    border-top: 1px solid #ddd;
    margin-bottom: 40px;
}

.fit {
    width: 100%;
    max-height: 280px;
}

#blog-body {
    height: 280px;
}

/* Authentication rules */
.auth .login-link,
.dashboard-link,
.logout-link {
    display: none;
}

.auth .dashboard-link,
.auth .logout-link {
    display: block;
}