@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Semibold.ttf');
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    color: #111;  
}

a {
    color: #111;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    width: 940px;
    height: 80px;
    align-items: center;
    margin: 0 auto;
}

.header-link {
    font-family: Georgia, serif;
    text-decoration: none;
    margin-left: 20px;
}

.logo {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-right: 80px;
}

.btn {
    font-family: "OpenSans", Arial, sans-serif;
    padding: 5px 15px;
    background: #fff;
    color: #111;
    border: 2px solid #111;
}

.btn:hover {
    background: #111;
    color: #fff;
    text-decoration: none;
}

.section {
    width: 940px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.grid {
    display: flex;
}
.col {
    margin-right: 20px;
}
.col:last-child {
    margin-right: 0;
}
.col1 {
    width: 60px;
}
.col2 {
    width: 140px;
}
.col3 {
    width: 220px;
}
.col4 {
    width: 300px;
}
.col5 {
    width: 380px;
}
.col6 {
    width: 460px;
}
.col7 {
    width: 540px;
}
.col8 {
    width: 620px;
}

.photos {
    position: relative;
}

.photo {
    width: 220px;
    height: 220px;
    background: gray;
    margin-right: 20px;
}

.photo img {
    width: 220px;
    height: 220px;
    margin: 0;
    padding: 0;
}

.photo:last-child {
    margin-right: 0;
}

.splash {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ddd;
    height: 400px;
    margin-bottom: 40px;
}

.splash-content {
    background: rgba(255, 255, 255, .9);
    padding: 10px 40px 40px 40px;
    width: 400px;
}

h2 {
    font-weight: normal;
}

h4 {
    font-family: 'OpenSans';
    text-transform: uppercase;
    font-size: .8em;
    line-height: .8em;
}

p {
    font-family: georgia;
    line-height: 1.6em;
}

.txt-lg {
    font-size: 1.4em
}

.txt-md {
    font-size: 1.2em; 
}

.txt-sm {
    font-size: .7em;
}

.num {
    font-size: 1.8em;
    line-height: 1.8em;
    text-align: center;
}

.emphasis:first-of-type::first-letter {
    font-size: 3.2em;
    float: left;
    padding-top: .24em;
    padding-right: .1em;
    font-weight: bold;
}

.column {
    padding-right: 20px;
}

footer {
    align-items: center;
    height: 80px;
    font-size: .8em;
}

.selected-link::before {
    content: "*";
    color: #edd216;
}

.selected-link::after {
    content: "*";
    color: #edd216;
}

input {
    font-family: Georgia;
    display: block;
    padding: 10px 5px;
    margin-bottom: 20px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #111;
    font-style: normal;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #111;
    font-style: normal;
}

*:focus {
    outline: none;
}

.inpt-stretch {
    width: 100%;
}

.inpt-long {
    width: 460px;
}

.inpt-short {
    width: 220px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.inpt-short:last-child {
    margin-right: 0;
}

#logout-link {
    display: none;
}

.dashboard-link {
    display: none;
}

.flex {
    display: flex;
}

.flt-right {
    margin-left: auto;
}

.signup-link {
    padding: 10px 40px;
}

.divider {
    border-top: 1px solid #ddd;
    margin-bottom: 40px;
}

.fit {
    width: 100%;
    max-height: 280px;
}