body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica, sans-serif;
    color: #111;  
}

a {
    color: #111;
    text-decoration: none;
}

.header {
    display: flex;
    width: 940px;
    height: 100px;
    align-items: center;
    margin: 0 auto;
}

.header-link {
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600;
}

.btn {
    font-size: 15px;
}

.logo {
    font-size: 36px;
    line-height: 32px;
    font-weight: 600;
    margin-right: 80px;
}

.btn {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px;
    background: #fff;
    color: #111;
    border: 2px solid #111;
}

.dashboard-link {
    font-size: 15px;
}

.btn:hover {
    background: #111;
    color: #fff;
}

.section {
    width: 940px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.grid {
    display: flex;
}
.col {
    margin-right: 20px;
}
.col:last-child {
    margin-right: 0;
}
.col1 {
    width: 60px;
}
.col2 {
    width: 140px;
}
.col3 {
    width: 220px;
}
.col4 {
    width: 300px;
}
.col5 {
    width: 380px;
}
.col6 {
    width: 460px;
}
.col7 {
    width: 540px;
}
.col8 {
    width: 620px;
}

.photos {
    position: relative;
}

.photo {
    width: 220px;
    height: 220px;
    background: gray;
    margin-right: 20px;
}

.photo img {
    width: 220px;
    height: 220px;
    margin: 0;
    padding: 0;
}

.photo:last-child {
    margin-right: 0;
}

.splash {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ddd;
    height: 400px;
}

.splash-content {
    border: 4px solid #111;
    background-color: #fff;
    padding: 40px 80px;
    width: 400px;
}

h2 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 0;
}

h3 {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 10px 0;
    padding: 0;  
}

h4 {
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
}

p {
    font-family: Georgia;
    font-size: 20px;
    line-height: 28px;
}

.column {
    padding-right: 20px;
}

footer {
    align-items: center;
    height: 80px;
    font-size: 13px;
    font-weight: bold;
}

.footer-link {
    text-decoration: none;
    margin-right: 20px;
}

.selected-link::before {
    content: "*";
    color: #edd216;
}

.selected-link::after {
    content: "*";
    color: #edd216;
}

form {
    margin: 0;
}

input, textarea {
    font-family: Helvetica;
    font-size: 16px;
    display: block;
    padding: 10px 0;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #111;
}

textarea {
    border: 1px solid #111;
    padding: 10px;
}

input[type=file] {
    padding: 0;
    border: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #111;
    font-style: normal;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #111;
    font-style: normal;
}

*:focus {
    outline: none;
}

.inpt-stretch {
    width: 100%;
}

.inpt-long {
    width: 460px;
}

.inpt-short {
    width: 220px;
    margin-right: 20px;
}

.inpt-short:last-child {
    margin-right: 0;
}

.flex {
    display: flex;
}

.flt-right {
    margin-left: auto;
}

.btn-lg {
    padding: 10px 40px;
}

.submit-btn {
    margin-top: 10px;
}

.divider {
    border-top: 1px solid #ddd;
    margin-bottom: 40px;
}

.fit {
    width: 100%;
    max-height: 280px;
}

#blog-body {
    height: 280px;
}

.posts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-list li {
    border-bottom: 1px solid #111;
    padding: 20px 0 20px 0;
}

/* Authentication rules */
.auth .login-link,
.dashboard-link,
.logout-link {
    display: none;
}

.auth .dashboard-link,
.auth .logout-link {
    display: block;
}

.box {
    background: #ddd;
    border: 1px solid #111;
    padding: 20px;
}

.instructions {
    list-style: none;
    margin: 0;
}

.instructions li {
    padding-bottom: 10px;
}

#thumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.thumb-photo {
    height: 120px;
}

.post-thumb {
    width: 220px;
}

.post-image {
    height: 300px;
}

.ordered-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ordered-list li {
    counter-increment: ind-counter;
    padding: 20px 0;
    display: flex;
    border-bottom: 1px solid #111;
}

.ordered-list li::before {
    content: counter(ind-counter, decimal-leading-zero);
    font-size: 40px;
    font-weight: lighter;
    padding: 0 20px;
}

.top-line {
    border-top: 3px solid #111;
}

.page-header {
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #111;
    border-top: 3px solid #111;
}

.section-header {
    margin-top: 80px;
    border-top: 2px solid #111;
    padding-top: 20px;
}

.price-box {
    margin-top: 40px;
}

.thmb {
    height: 140px;
    background-size: cover;
}

.img1 {
    background-image: url("../img/photo1.png");
}

.img2 {
    background-image: url("../img/photo2.png");
}

.img3 {
    background-image: url("../img/photo3.png");
}

.img4 {
    background-image: url("../img/photo4.png");
}

.img5 {
    background-image: url("../img/photo5.png");
}

.img6 {
    background-image: url("../img/photo6.png");
}

/* Standard styles */
.margin-top {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.post-item {
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.editor-posts {
    display: flex;
    align-items: center;
}

.editor-thumbs {
    margin: 0;
    padding: 0;
}