/*----- GENERIC -----*/
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "Jaldi", Helvetica, sans-serif;
    color: #111;
    font-size: 18px;
}

a {
    color: #111;
    text-decoration: none;
}

.button-std {
    font-family: "Jaldi";
    font-size: 16px;
    padding: 5px 15px;
    background: #fff;
    border: 1px solid #111;
    color: #111;
    text-transform: uppercase;
    display: inline-block;
    box-sizing: border-box;
}

.button-std:hover { 
    background-color: #f8f8f8;
}

.no {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #111;
    margin: 20px 0;
}

.list-std {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-std li {
    padding: 5px 0;
}

form {
    margin: 0;
}

input, textarea {
    font-family: "Jaldi";
    font-size: 16px;
    display: block;
    border: none;
    border-bottom: 1px solid #111;
}

select {
    font-family: "Jaldi";
    font-size: 16px;
    display: block;
    background: transparent;
    height: 30px;
}

textarea {
    border: 1px solid #111;
    padding: 10px;
}

input[type=file] {
    padding: 0;
    border: none;
}

.inpt-std {
    width: 300px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #777;
    font-style: normal;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #777;
    font-style: normal;
}

*:focus {
    outline: none;
}

.page-header {
    padding: 40px 0;
}

.section-header {
    margin-top: 80px;
}

.box {
    border: 1px solid #111;
    padding: 20px;
    height: 280px;
}

.form-std {
    width: 50%;
}

.image-placeholder {
    background-color: #eac3c3;
    height: 240px;
}

/*----- GRID -----*/
.row {
    display: flex;
    margin-left: -40px;
    margin-bottom: 40px;
}

.container {
    border-top: 1px solid #ccc;
}

.section {
    width: 1040px;
    margin: 0 auto;
}

.col {
    padding-left: 40px;
    flex: 1;
}

.col-right {
    flex: 0;
    margin-left: auto;
    white-space: nowrap;
}

.col img, input, textarea, select {
    width: 100%;
}

.centered {
    justify-content: center;
}

.margin-bottom {
    margin-bottom: 20px;
}

/*----- HEADERS -----*/
h2 {
    font-family: 'PT Serif';
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 10px 0;
    padding: 0;
}

h3 {
    font-family: 'PT Serif';
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 10px 0;
    padding: 0; 
}

h4 {
    font-family: "Jaldi";
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0;  
}

/*----- BASE -----*/
.header {
    display: flex;
    height: 60px;
    align-items: center;
    margin: 0 auto;
}

.header-link {
    margin-left: 40px;
    font-size: 15px;
    color: #111;
    text-transform: uppercase;
}

.logo {
    color: #111;
    font-size: 28px;
    display: flex;
    align-items: center;
}

.logo-image {
    width: 25px;
}

.logo-text {
    margin-left: 10px;
}

footer {
    display: flex;
    align-items: center;
    height: 80px;
}

.footer-link {
    text-decoration: none;
    margin-right: 20px;
    color: #111;
}

/*----- HOME -----*/
#home-hero {
    padding: 60px 0;
    background-image: url("../img/pool3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-hero-content {
    background: rgba(255, 255, 255, .9);
    padding: 60px;
}

#home-form {
    margin-top: 40px;
    display: flex;
}

#home-form input {
    border: 1px solid #111;
    border-right: none;
    padding-left: 10px;
}

.flt-right {
    margin-left: auto;
}

/*----- EDITOR -----*/
#editor-blog-field {
    height: 280px;
}

.editor-thumb-photo {
    height: 120px;
}

.editor-posts {
    display: flex;
    align-items: center;
}

.editor-post-item {
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

/*----- MAG -----*/
.mag-thumb {
    width: 220px;
}

/*----- POST -----*/
.post-image {
    height: 300px;
}

/*----- Authentication rules -----*/
.auth .login-link,
.auth #signup-email-row,
.dashboard-link,
.logout-link {
    display: none;
}

.auth .dashboard-link,
.auth .logout-link {
    display: block;
}